@model online.Models.Shipper

@{
    ViewData["Title"] = " Xóa ";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h2 style="padding-left:20px">Xóa Shipper</h2>

<h3 style="padding-left:20px">Bạn có chắc muốn xóa Shipper này ?</h3>
<hr />
<body>
    <div class="w3-container" style="width:70%">
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table class="w3-table-all w3-card-4">
                <tr>
                    <th>  @Html.DisplayNameFor(model => model.ShipperName) </th>
                    <th>    @Html.DisplayFor(model => model.ShipperName) </th>
                </tr>

                <tr>
                    <th>  @Html.DisplayNameFor(model => model.Phone) </th>
                    <th>    @Html.DisplayFor(model => model.Phone) </th>
                </tr>

                <tr>
                    <th>  @Html.DisplayNameFor(model => model.Company) </th>
                    <th>    @Html.DisplayFor(model => model.Company) </th>
                </tr>

                <tr>
                    <th>  @Html.DisplayNameFor(model => model.ShipDate) </th>
                    <th>    @Html.DisplayFor(model => model.ShipDate) </th>
                </tr>
            </table>
            <br />

            <tr>
                <th>  Xác nhận xóa </th>
                <th>
                    <form asp-action="Delete" asp-controller="AdminShippers" asp-route-id="@Model.ShipperId">
                        <input type="hidden" asp-for="ShipperId" />
                        <input style="padding-left:20px" type="submit" value="Xóa" class="btn btn-default" /> |
                        <a asp-action="Index" style="padding-left:20px">Quay về</a>
                    </form>
                </th>
            </tr>
        </form>
    </div>
</body>